pipeline/CopyPipeline_1to.json
{
	"name": "CopyPipeline_1to",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "indexValue",
					"value": {
						"value": "@string(add(int(variables('counter')),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "counter",
					"value": {
						"value": "@variables('indexValue')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute UpdateStatuses_SP",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UpdateStatuses_SP",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"workflowId": {
							"value": "@int(pipeline().parameters.Iwfid)",
							"type": "Expression"
						},
						"value": {
							"value": "@int(variables('value'))",
							"type": "Expression"
						},
						"counter": {
							"value": "@int(variables('indexValue'))",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set tbl_OracleName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tbl_OracleName",
					"value": {
						"value": "@if(equals(pipeline().parameters.flowName,'Buyers'),'apps.xxsoda_bpm_buyers_v',NULL)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set tbl_StagingName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set tbl_OracleName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tbl_StagingName",
					"value": {
						"value": "@if(equals(pipeline().parameters.flowName,'Buyers'),'soda_oracle_buyers_staging',NULL)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set tbl_SQLName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set tbl_StagingName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tbl_SqlName",
					"value": {
						"value": "@if(equals(pipeline().parameters.flowName,'Buyers'),'soda_oracle_buyers',NULL)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data_Oracle to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set tbl_SQLName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@{concat('SELECT * FROM ', variables('tbl_OracleName'), ' WHERE flieldB not like ''%test2%''')}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "@{concat('DECLARE @sql nvarchar(max) = N''TRUNCATE TABLE '' +''',variables('tbl_StagingName'),''';EXEC(@sql);')}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "tbl_Oracle",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@variables('tbl_OracleName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "tbl_Staging",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@variables('tbl_StagingName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "tbl_Oracle",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@variables('tbl_OracleName')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"Iwfid": {
				"type": "int"
			},
			"flowName": {
				"type": "string"
			},
			"lastUpdateDate": {
				"type": "string"
			}
		},
		"variables": {
			"counter": {
				"type": "String",
				"defaultValue": "0"
			},
			"indexValue": {
				"type": "String",
				"defaultValue": "0"
			},
			"value": {
				"type": "String",
				"defaultValue": "0"
			},
			"tbl_OracleName": {
				"type": "String"
			},
			"tbl_StagingName": {
				"type": "String"
			},
			"tbl_SqlName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-10T20:44:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}